<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">

  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/css/job-listing.css}" rel="stylesheet" />


</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>
<h1 th:text="${#strings.capitalizeWords(title)}"></h1>

<div th:fragment="displayJobs" class="container body-content">

  <table class="table.job-listing" th:each="job : ${jobs}" >
    <tr>
      <td>ID</td>
      <td th:text="${job.id}"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td th:text="${job.name}"></td>
    </tr>
    <tr>
      <td>Employer</td>
      <td th:text="${job.employer}"></td>
    </tr>
    <tr>
      <td>Location</td>
      <td th:text="${job.location}"></td>
    </tr>
    <tr>
      <td>Position Type</td>
      <td th:text="${job.positionType}"></td>
    </tr>
    <tr>
    <td>Skill</td>
      <td th:text="${job.coreCompetency}"></td>
    </tr>
<!--    <br>-->
  </table>

</div>
</body>
</html>